.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
